{% extends 'main.html'%}

{% block title %}
<title>Inicio</title>
{% endblock title %}

{% block content %}
<h3>Videos</h3>
<div class="row">
  {% for v in videos %}
  <div class="card-panel col s4 center-align hoverable" onclick="location.href='/player/{{v.id}}'">
    <img
      src="https://img.freepik.com/vector-gratis/diseno-plantilla-reproductor-video-estilo-blanco-minimo_1017-25481.jpg"
      alt="video" width="90%" />
    <div class="">
      <h5>{{ v.title }} </h5>
      <h6> {{ v.uploader.username }}</h6>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}