search results
<html>
  {% include 'topbar.html' %}

  {% if results.count == 0 %}
  <h1>No hay resultados</h1>
  {% else %} {% for r in results %}
  <div class="searchResult" onclick="location.href='/player/{{r.id}}'">
    <img
      src="https://img.freepik.com/vector-gratis/diseno-plantilla-reproductor-video-estilo-blanco-minimo_1017-25481.jpg"
      alt="video"
      width="10%"
    />
    <h4>{{ r.title }}</h4>
    <h4>{{ r.uploader.username }}</h4>
  </div>
  {% endfor %} {% endif %}
</html>
